form{
    display: flex;
    
}
.comment-form-textarea{
    width: 90%;
}
.comments-container{
    width: 100%;
    
}
.comment-form-button{
    background: rgb(20, 140, 78);
    color: white;
}
.comment-actions{
    display: flex;
}
.comment-action{
   padding: 8px;
}
.comment-action button{
    display:inline-block;
}
.comment-form-cancel-button{
    background-color: rgb(170, 40, 51);
}


